<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Policy - Manage Page - Safety Car</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">

<div th:insert="fragments/general.html :: top-menu"></div>

<div class="clear"></div>


<!--First Section after Menu-->
<div class="container-fluid">
    <div class="row" id="heading-row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>Manage policy</h2>
            <h4 style="align-self: center"><i>Please review all the information and Approve/Disapprove the Policy </i>
            </h4>
        </div>
        <div class="col-3"></div>
    </div>
</div>


<!--Show Policy Container -->
<div class="container">

    <div class="row col-sm-8" style="align-content: center; margin-top: 15px">
        <table class="table" id="policy-create-table" style="align-content: space-evenly">
            <thead>
            <tr>
                <th scope="col">Information</th>
                <th scope="col">Value</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Policy ID</td>
                <td th:text="${policy.id}"></td>
            </tr>
            <tr>
                <td>Policy Start Date</td>
                <td th:text="${policy.getStartDate()}"></td>
            </tr>
            <tr>
                <td>Policy Submission Date</td>
                <td th:text="${policy.getSubmissionDate()}"></td>
            </tr>
            <tr>
                <td>Policy Status</td>
                <td th:text="${policy.getStatus().getStatus()}"></td>
            </tr>
            <tr>
                <td><h4>User Information</h4></td>
                <td></td>

            </tr>
            <tr>
                <td>First Name</td>
                <td th:text="${user.getFirstName()}"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td th:text="${user.getLastName()}"></td>
            </tr>
            <tr>
                <td>Telephone</td>
                <td th:text="${user.getTelephone()}"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td th:text="${user.getAddress()}"></td>
            </tr>
            <tr>
                <td>Driver had accidents in previous year?</td>
                <td th:text="${policy.getOffer().hadAccidents() == true ? 'Yes' : 'No' }"></td>
            </tr>
            <tr>
                <td>Driver is Above 25 years old?</td>
                <td th:text="${policy.getOffer().isAboveTwentyFive() == true ? 'Yes' : 'No' }"></td>
            </tr>
            <tr>
                <td><h4>Vehicle Information</h4></td>
                <td></td>

            </tr>
            <tr>
                <td>Car</td>
                <td th:text="${policy.getCar().getBrandName() + ' ' + policy.getCar().getModelName()}"></td>
            </tr>
            <tr>
                <td>First Registration</td>
                <td th:text="${policy.getCar().getFirstRegistration().toString()}"></td>
            </tr>
            <tr>
                <td>Cubic Capacity</td>
                <td th:text="${policy.getCar().getCapacity()}"></td>
            </tr>
            <tr>
                <td>Policy Premium Total</td>
                <td th:text="'$' + ${policy.getOffer().getRoundedPremium()}"></td>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="row col-sm-4" style="margin-left: 10px">
        <h3>Registration Certificate Image</h3>
        <!-- Button trigger -->
        <button type="button" class="btn-default" data-toggle="modal"
                data-target="#image-modal">
            Image of certificate
        </button>
        <br>
        <!-- Modal -->
        <div class="modal fade" id="image-modal" tabindex="-1"
             role="dialog"
             aria-labelledby="image-modal-title" aria-hidden="true">
            <div class="modal-dialog" role="img">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="image-modal-title"
                            text="'Image of Certificate"></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="img-responsive" th:src="@{/downloadFile/__${policy.getImage().getId()}__}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary">
                            <a th:target="_blank" th:href="@{/downloadFile/__${policy.getImage().getId()}__}"
                               style="color: white">Full Size Img</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <h3>Manage Policy</h3>
        <form th:object="${manageStatus}" th:action="@{/policy/manage/__${policy.getId()}__}" method="post">
            <div class="form-select">
                <label>Status
                    <label class="error" th:errors="*{statusId}"></label>
                    <select th:field="*{statusId}">
                        <option value="1">Set to Approved</option>
                        <option value="4">Set to Rejected</option>
                    </select>
                </label>
                <div class="form-content">
                    <label class="error" th:errors="*{message}"></label>
                    <label>Provide a reason for status change
                        <input type="text" th:field="*{message}">
                    </label>
                </div>
                <button class="btn-default" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="row col-sm-3" style="margin-left: 10px">


</div>

</form>
</div>

<hr>

<div th:insert="fragments/general.html :: services"></div>

<div th:insert="fragments/general.html :: testimonials"></div>

<div th:insert="fragments/general.html :: recent-news"></div>

<div th:insert="fragments/general.html :: partners"></div>
</div>
<div class="clear"></div>
<div th:insert="fragments/general.html :: footer"></div>
<th:block th:include="~{fragments/for-modal-foot}"></th:block>
</body>

</html>
