<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Users - Safety Car!</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">

<div th:insert="fragments/general.html :: top-menu"></div>
<div class="container-fluid">
    <div class="row" id="heading-row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>SafetyCar Users:</h2>
            <hr>
            <h4><i></i></h4>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<div class="clear"></div>

<div id="page-content">
    <!--First Section after Menu-->
    <div class="container-fluid">
        <div class="row col-sm-10">
            <table class="table" style="align-content: space-evenly">
                <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Simulated Offers Count</th>
                    <th>Approved Policies Count</th>
                    <th>Approved Policies Net</th>
                    <th>Pending Policies Count</th>
                    <th>Pending Policies Net</th>
                    <th>This User's History</th>
                    <th>This User's Policies</th>
                    <th>This User's Profile</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.getFullName()}">Jill Smith</td>
                    <td th:text="${user.getSimulatedOffers()}">0</td>
                    <td th:text="${user.getApprovedNCount()}">1</td>
                    <td th:text="${user.getApprovedPoliciesNet()}">0</td>
                    <td th:text="${user.getPendingCount()}">1</td>
                    <td th:text="${user.getPendingPoliciesNet()}">804.52</td>
                    <td>
                        <th:block th:include="~{fragments/user-history-modal-button}"></th:block>
                        <th:block th:include="~{fragments/user-history-modal}"></th:block>
                    </td>
                    <td><a th:href="@{/policies/show/__${user.getUserId()}__}">Show Policies</a></td>
                    <td><a th:href="@{/users/profiles/__${user.getUserId()}__}">Show Profile</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-sm-2" id="search-users-form">
            <form th:action="@{/users/search}" th:object="${searchUsersDto}" method="get">

                <!-- Search input -->
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"></span>
                    <label>
                        Search By Full Name
                        <input th:field="*{fullName}" type="text" class="form-control"
                               placeholder=""
                               aria-describedby="basic-addon1">
                    </label>
                </div>
                <!--Policy Status Parameter-->
                <div class="input-group-prepend">
                    <label class="input-group-text" for="status-select">Filter By Policy Status</label>
                </div>
                <select th:field="*{policyStatus}" class="custom-select" id="status-select">
                    <option selected value="">Any</option>
                    <option value="approved">Approved</option>
                    <option value="pending">Pending</option>
                    <option value="rejected">Rejected</option>
                    <option value="inactive">Inactive</option>
                </select>
                <!--Sort Parameter-->
                <div class="input-group-prepend">
                    <label class="input-group-text" for="sortParameter-select">Sort By ...</label>
                </div>
                <select th:field="*{sortParam}" class="custom-select" id="sortParameter-select">
                    <option selected value="id">Any</option>
                    <option value="pendingPoliciesNet">Pending Net</option>
                    <option value="approvedPoliciesNet">Approved Net</option>
                    <option value="pendingPoliciesCount">Pending Count</option>
                    <option value="approvedPoliciesCount">Approved Count</option>
                    <option value="offersCount">Offer Count</option>
                </select>
                <!-- Sort Asc or Desc  -->
                <label for="user-order-input">Order</label>
                <select id="user-order-input" th:field="*{desc}">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
                <!-- Search button  -->
                <div class="row">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-warning">Search!</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div th:insert="fragments/general.html :: products"></div>

    <hr>

    <div th:insert="fragments/general.html :: services"></div>

    <div th:insert="fragments/general.html :: testimonials"></div>

    <div th:insert="fragments/general.html :: recent-news"></div>

    <div th:insert="fragments/general.html :: partners"></div>
</div>

<div class="clear"></div>

<div th:insert="fragments/general.html :: footer"></div>
<th:block th:include="~{fragments/for-modal-foot}"></th:block>
</body>

</html>
