<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home - Safety Car!</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">

<div th:insert="fragments/general.html :: top-menu"></div>

<div class="clear"></div>


<!--First Section after Menu-->
<div class="container-fluid">
    <div class="row" id="heading-row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>List of my offers:</h2>
            <hr>
            <p>* You can transform any offer to Policy by clicking on <strong>Create Policy From Offer</strong> button.
            </p>
            <p>* Next, upload your registration certificate and pick effective date</p>
            <p><i>Feel free to Contact us if you have any questions or troubles with the website!</i></p>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<hr>


<!--Show Offers Container -->
<div class="container-fluid" id="my-offers-container">

    <div class="row col-sm-10">

        <table class="table">
            <thead class="offer-table-head">
            <tr>
                <th> Premium</th>
                <th> Submission Date</th>
                <th> Expiration Date</th>
                <th> Brand</th>
                <th> Model</th>
                <th> Year</th>
                <th> First Registration date</th>
                <th> Cubic Capacity</th>
                <th> Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${myOffers}">
                <td th:text="*{offer.getRoundedPremium()}"></td>
                <td th:text="*{offer.getSubmissionDateAsString()}"></td>
                <td th:text="*{offer.getExpirationDateAsString()}"></td>
                <td th:text="*{offer.getCar().getModelYearBrand().getBrand().getName()}"></td>
                <td th:text="*{offer.getCar().getModelYearBrand().getName()}"></td>
                <td th:text="*{offer.getCar().getModelYearBrand().getYear()}"></td>
                <td th:text="*{offer.getCar().getFirstRegistration()}"></td>
                <td th:text="*{offer.getCar().getCapacity()}"></td>
                <td><a th:href="@{/policy/create/__${offer.getId()}__}">Create Policy from Offer</a></td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="row col-sm-2" id="sort-results">
        <h4>Sort your Offers</h4>
        <form th:action="@{/my/offers/search}" id="sort-offers-form" class="input-group-prepend"
              th:object="${searchOffersDto}" method="get">
            <!-- Sort Parameter  -->
            <label class="input-group-text" for="sortParameter-select">Pick sort parameter:</label>

            <select th:field="*{sortParam}" class="custom-select" id="sortParameter-select">
                <option selected value="id">Any</option>
                <option value="premium">Premium</option>
                <option value="submissionDate">Submission Date</option>
                <option value="expirationDate">Expiration Date</option>
                <option value="firstRegistration">First Registration Date</option>
                <option value="capacity">Capacity</option>
            </select>

            <!-- Sort Asc or Desc -->
            <label class="form-check-label" for="offer-order-input">Order</label>
            <select class="form-check-input" id="offer-order-input" th:field="*{desc}">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            <!-- Search button  -->

            <button type="submit" class="btn btn-success">Sort</button>
            <br>
            <hr>
        </form>
    </div>

</div>


<hr>
<div th:insert="fragments/general.html :: services"></div>

<div th:insert="fragments/general.html :: testimonials"></div>

<div th:insert="fragments/general.html :: recent-news"></div>

<div th:insert="fragments/general.html :: partners"></div>


<div class="clear"></div>

<div th:insert="fragments/general.html :: footer"></div>
<th:block th:include="~{fragments/foot}"></th:block>
</body>

</html>
