<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Get your Offer - Safety Car -</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">

<div th:insert="fragments/general.html :: top-menu"></div>

<div class="clear"></div>


<!--First Section after Menu-->
<div class="container-fluid">
    <div class="row" id="heading-row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>Get your Insurance Offer</h2>
            <hr>
            <h4><i>All fields are required!</i></h4>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<!--Request Offer Section-->
<div class="container-fluid">
    <div class="row" id="secondary-row-forms">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="#"
                  th:action="@{/dedicated/simulation}"
                  th:object="${offerDto}" id="get-quote"
                  method="post">
                <!--Make-->

                <div class="form-group">
                    <div class="input-group-prepend">
                        <label for="brand-dropdown">Select Car Make</label>
                    </div>
                    <span class="error" th:errors="*{makeId}"></span>
                    <select class="form-control select-picker" id="brand-dropdown" th:field="*{makeId}">

                        <option th:each="brand : ${brands}"
                                th:value="${brand.id}"
                                th:text="${brand.name}"
                                th:data="${brand.id}"> make 1
                        </option>

                    </select>
                </div>

                <!--Model Dropdown -->
                <div class="form-group">
                    <label for="model-dropdown">Car model</label>
                    <select id="model-dropdown" th:field="*{modelId}" class="form-control">

                        <script th:inline="javascript" type="text/javascript">
                            $(document).ready(function () {
                                $('#brand-dropdown').change(
                                    function () {
                                        $.getJSON('/api/models/list/', {
                                            brandId: $(this).val(),
                                            ajax: 'true'
                                        }, function (data) {
                                            var html = '<option value="">Select Model</option>';
                                            var len = data.length;
                                            for (var i = 0; i < len; i++) {
                                                html += '<option value="' + data[i].id + '">'
                                                    + data[i].name + ' ' + data[i].year + '</option>';
                                            }
                                            html += '</option>';
                                            $('#model-dropdown').html(html);
                                            $("#model-dropdown").trigger('contentChanged');
                                        });
                                    });
                            });
                        </script>

                    </select>
                </div>

                <!--Capacity-->
                <div class="form-group">
                    <div class="input-group-prepend">
                        <label text="Capacity">Car Cubic Capacity</label>
                    </div>
                    <label class="error" th:errors="*{capacity}"></label>
                    <input class="form-control" placeholder="Car Capacity" th:field="*{capacity}" type="text"/>
                </div>
                <!--dateRegistered-->
                <div class="form-group">
                    <div class="input-group-prepend">
                        <label text="Capacity">Select first registration date of your car</label>
                    </div>
                    <label class="error" th:errors="*{dateRegistered}"></label>
                    <input class="form-control" placeholder="Car Date Registered" th:field="*{dateRegistered}"
                           type="date"/>
                </div>
                <!--hadAccidents-->
                <div class="form-select">
                    <span></span>
                    <label text="Age">What is your Age?</label>
                    <label class="error" th:errors="*{aboveTwentyFive}">Your Age:</label>
                    <select th:field="*{aboveTwentyFive}">
                        <option value="true">Under 25 years</option>
                        <option value="false">25+ years</option>
                    </select>
                </div>
                <br/>
                <!--aboveTwentyFive-->
                <div class="form-select">
                    <span></span>
                    <label text="Accidents">Did you have accidents in last year?</label>
                    <label class="error" th:errors="*{hadAccidents}">You had Accidents last year ?</label>
                    <select th:field="*{hadAccidents}">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <br/>
                <!--Submit-->
                <br/>
                <div class="form-group">
                    <div class="input-group-prepend">
                        <input class="btn btn-default" id="save-button" type="submit"
                               value="Check Price For Insurance"/>
                    </div>
                </div>
            </form>
            <div th:object="${result}">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="${result}">1234.33</li>
                </ul>
            </div>
            <hr>
            <span th:text="${message}" class="error"></span>
            <span th:text="${offerError}" class="error"></span>
            <form th:action="@{/dedicated/simulation/append}" method="post" id="add-offer-dedicated">
                <button value="Add Offer" type="submit" class="btn-default">Add Offer</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>


<hr>

<div th:insert="fragments/general.html :: services"></div>

<div th:insert="fragments/general.html :: testimonials"></div>

<div th:insert="fragments/general.html :: recent-news"></div>

<div th:insert="fragments/general.html :: partners"></div>
</div>
<div class="clear"></div>
<th:block th:include="~{fragments/foot}"></th:block>
</body>

</html>
