<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Login - Safety Car!</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="sidenav">
    <div class="login-main-text">
        <h2>Safety Car<br> Login Page</h2>
        <p>Please Login or Register from here to access our website.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <p>
                <i th:if="${error != null}" style="color: red"><strong th:text="${error}"></strong></i>
                <i th:if="${param.logout}" style="color: black"> <strong>You have successfully logged out.</strong></i>
            </p>
            <form method="post" th:action="@{/authenticate}">
                <div class="form-group">
                    <label>E-mail:</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="password" name="password">
                </div>
                <div class="d-flex justify-content space-between align-items-center">
                    <div class="form-row">
                        <button type="submit" class="btn btn-black col-md-4">Login</button>
                        <a class="btn btn-info col-md-4" th:href="@{/register}" style="color: white">Register</a>
                        <a class="btn btn-primary col-md-4" th:href="@{/index}" style="color: white">Home</a>
                        <span th:text="${message}"></span>
                        <br>
                        <!-- Password Change Button -->
                        <button type="button" class="btn btn-success" id="pass-button" data-toggle="modal"
                                data-target="#password-reset-modal">
                            Request Password Reset
                        </button>
                        <br>
                    </div>
                </div>
            </form>
            <!-- Password Change Modal -->
            <div class="modal fade" id="password-reset-modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="password-reset-modal-title" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="password-reset-modal-title"
                                text="Change Your Password"></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" th:action="@{/email/send}">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <br/>
                                    <input type="email" id="email" name="email"
                                           class="form-control"
                                           placeholder="Recovery E-mail">
                                </div>
                                <button type="submit" class="btn btn-success">Send Request</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<th:block th:include="~{fragments/for-modal-foot}"></th:block>
</body>
</html>