<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Policy - Detailed View - Safety Car</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">

<div th:insert="fragments/general.html :: top-menu"></div>

<div class="clear"></div>


<!--First Section after Menu-->
<div class="container-fluid">
    <div class="row" id="heading-row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>Request Policy Form:</h2>
            <hr>
            <h4><i>Please review your details!</i></h4>
            <p>* If you need you can go to <strong>My Profile</strong> menu and add/correct the information.</p>
            <p>* Next, upload your registration certificate and pick effective date</p>
            <p>* Click <strong>Send</strong></p>
            <p><i>Feel free to Contact us if you have any questions or troubles with the website!</i></p>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<hr>

<!--Show Policy Container -->
<div class="container" style="align-content: center">

    <div class="row col-sm-6" style="align-content: center">
        <th:block th:include="~{fragments/policy-details-for-user-table}"></th:block>
    </div>

    <div class="row col-sm-6" id="upload-file-row">


        <h3>Upload Your Registration Certificate Image</h3>
        <form method="post" th:object="${policyDto}"
              th:action="@{/users/manage/policy}" enctype="multipart/form-data">
            <label th:errors="*{file}" class="error" for="startDate"></label>
            <!-- Button trigger modal qkoo-->
            <button type="button" class="btn-default" data-toggle="modal"
                    data-target="#image-modal">
                Image of certificate
            </button>
            <br>
            <!-- Modal -->
            <div class="modal fade" id="image-modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="image-modal-title" aria-hidden="true">
                <div class="modal-dialog" role="img">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="image-modal-title"
                                text="'Image of Certificate"></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="img-responsive" th:src="@{/downloadFile/__${imageId}__}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary">
                                <a th:target="_blank" th:href="@{/downloadFile/__${imageId}__}" style="color: white">Full
                                    Size Img</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <input type="file" onchange="ValidateSize(this)" name="files" th:field="*{file}">

            <hr>
            <h3>Picked Start Date</h3>
            <label class="error" th:errors="*{startDate}" for="startDate"></label>
            <input type="text" th:field="*{startDate}" id="startDate" name="startDate" readonly>
            <label class="error" th:errors="*{updatePolicyId}" for="policyId"></label>
            <input type="hidden" th:field="*{updatePolicyId}" id="policyId" readonly>
            <br>
            <hr>
            <br>
            <br>
            <button type="submit" class="btn-default">Send Policy</button>
            <!--   <input class="btn-default" type="submit"/> -->
        </form>

    </div>


</div>


<hr>

<div th:insert="fragments/general.html :: services"></div>

<div th:insert="fragments/general.html :: testimonials"></div>

<div th:insert="fragments/general.html :: recent-news"></div>

<div th:insert="fragments/general.html :: partners"></div>
</div>
<div class="clear"></div>
<div th:insert="fragments/general.html :: footer"></div>
<th:block th:include="~{fragments/for-modal-foot}"></th:block>
<script type="text/javascript">function ValidateSize(file) {
    var FileSize = file.files[0].size / 1024 / 1024;
    if (FileSize > 4) {
        alert('Your image size exceeds 4 MB');
        $(file).val('');
    }
}</script>
</body>

</html>
