<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit - Your Details!</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<div class="sidenav">
    <div class="login-main-text">
        <h2>Safety Car<br> Profile Edit Page</h2>
        <p>Please fill in your details</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="details-form">
            <label th:text="${details}" style="color: #1ee0ff"></label>
            <form th:action="@{/users/profile/edit}" th:object="${createUserDto}" method="post">

                <div class="form-group">
                    <label>First Name</label>
                    <span class="error" th:errors="*{firstName}"></span>
                    <br/>
                    <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name"
                           id="firstName" name="firstName">
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <span class="error" th:errors="*{lastName}"></span>
                    <br/>
                    <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" id="lastName"
                           name="lastName">
                </div>

                <div class="form-group">
                    <label>Phone number</label>
                    <span class="error" th:errors="*{telephone}"></span>
                    <input type="text" th:field="*{telephone}" class="form-control" placeholder="Phone number"
                           id="phoneNumber" name="phoneNumber"/>
                </div>

                <div class="form-group">
                    <label>Address</label>
                    <span class="error" th:errors="*{address}"></span>
                    <input type="text" th:field="*{address}" class="form-control" placeholder="Address" id="Address"
                           name="Address">
                </div>
                <span th:text="${passwordError}" class="error"></span>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit Details</button>
                    <!-- Password Change Button -->
                    <button type="button" class="btn btn-success" id="pass-button" data-toggle="modal"
                            data-target="#password-modal">
                        ChangePassword
                    </button>
                </div>
            </form>
            <a class="btn btn-info" th:href="@{/users/profile}"
               href="#" role="button">Profile</a>
            <a class="btn btn-info" th:href="@{/}"
               href="#" role="button">Home</a>
            <br>
            <!-- Password Change Modal -->
            <div class="modal fade" id="password-modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="password-modal-title" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="password-modal-title"
                                text="Change Your Password"></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" th:action="@{/users/profile/edit/password}" th:object="${passwordDto}">
                                <div class="form-group">
                                    <label for="old-pass">Old Password</label>
                                    <span class="error" th:errors="*{oldPassword}"></span>
                                    <br/>
                                    <input type="password" id="old-pass" th:field="*{oldPassword}" class="form-control"
                                           placeholder="old Password">
                                </div>
                                <div class="form-group">
                                    <label for="pass">Password</label>
                                    <span class="error" th:errors="*{password}"></span>
                                    <br/>
                                    <input type="password" id="pass" th:field="*{password}" class="form-control"
                                           placeholder="New Password">
                                </div>
                                <div class="form-group">
                                    <label for="confirm">Confirmation Password</label>
                                    <span class="error" th:errors="*{confirmationPassword}"></span>
                                    <span class="error" th:errors="${passwordDto}"></span>
                                    <br/>
                                    <input type="password" id="confirm" th:field="*{confirmationPassword}"
                                           class="form-control"
                                           placeholder="Same as New Password">
                                </div>
                                <button type="submit" class="btn btn-success">Submit New Password</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="~{fragments/for-modal-foot}"></th:block>
</body>
</html>