<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Login - Safety Car!</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="sidenav">
    <div class="login-main-text">
        <h2>Safety Car<br> Password Reset Page</h2>
        <p>You can reset your forgotten password here.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <span th:text="${message}"></span>
            <br>
            <form method="post" th:action="@{/change-password/submit}" th:object="${passwordDto}">
                <div class="form-group">
                    <label for="password">
                        New Password
                        <span th:errors="*{password}" class="error"></span>
                    </label>
                    <input type="password" id="password" th:field="*{password}" class="form-control"
                           placeholder="password">
                </div>
                <div class="form-group">
                    <label for="confirm-password">
                        Confirm New Password
                        <span th:errors="${passwordDto}" class="error"></span>
                    </label>
                    <input type="password" th:field="*{confirmationPassword}" id="confirm-password" class="form-control"
                           placeholder="confirm password">
                    <input type="hidden" th:value="*{token}" th:field="*{token}" hidden>
                </div>
                <div class="d-flex justify-content space-between align-items-center">
                    <div class="form-row">
                        <button type="submit" class="btn btn-black col-md-6">Change Password</button>
                        <a class="btn btn-info col-md-6" th:href="@{/login}" style="color: white">Login</a>
                        <a class="btn btn-primary col-md-6" th:href="@{/index}" style="color: white">Home</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>