<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>User Profile - Safety Car</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">

<div th:insert="fragments/general.html :: top-menu"></div>

<div class="clear"></div>
<!--First Section after Menu-->
<div class="container-fluid">
    <div class="row" id="heading-row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>User Profile:</h2>
            <hr>
            <h4><i>Please review your details!</i></h4>
            <p>* If you need you can go to <strong>Edit your profile</strong> button and add/correct the information.
            </p>
            <p><i>Feel free to Contact us if you have any questions or troubles with the website!</i></p>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<hr>
<!--Show Policy Container -->
<div class="container" style="align-content: center">
    <div class="row col-sm-8" style="align-content: center">
        <table th:object="${user}" class="table" id="policy-create-table" style="align-content: space-evenly">
            <thead>
            <tr>
                <th scope="col">Information:</th>
                <th scope="col">Value:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Full Name:</td>
                <td th:text="${user.getFullName().contains('null') ? 'Not Specified' : user.getFullName()}"></td>
            </tr>
            <tr>
                <td>Telephone:</td>
                <td th:text="${userDetails.getTelephone()}"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td th:text="${userDetails.getAddress()}"></td>
            </tr>
            <tr>
                <td>Simulated Offers in your account:</td>
                <td th:text="${user.getSimulatedOffers() + ' offer(s)'}"></td>
            </tr>
            <tr>
                <td>Approved policies net value:</td>
                <td th:text="'$'  +  ${user.getApprovedNet()}"></td>
            </tr>
            <tr>
                <td>Number of your Approved policies:</td>
                <td th:text="${user.getApprovedNCount() + ' policies'}"></td>
            </tr>
            <tr>
                <td>Number of policies pending for approval:</td>
                <td th:text="${user.getPendingCount() + ' policies'}"></td>
            </tr>
            <tr>
                <td>Net value of all pending policies:</td>
                <td th:text="'$' + ${user.getPendingNet()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-sm-4" id="upload-file-row" sec:authorize="hasRole('ROLE_USER')" style="align-items: center">
        <h3>User Menu :</h3>
        <a class="btn btn-success" th:href="@{/users/profile/edit}" role="button">Edit your profile</a>
        <hr>
        <a class="btn btn-success" th:href="@{/my/offers}" role="button">View your offers</a>
        <hr>
        <a class="btn btn-success" th:href="@{/policies/user}" role="button">View your policies</a>
        <hr>
        <th:block th:include="~{fragments/user-history-modal-button}"></th:block>
        <hr>
        <a class="btn btn-default" th:href="@{/dedicated/simulation}" role="button">Calculate new Offer</a>
    </div>
    <th:block th:include="~{fragments/user-history-modal}"></th:block>
</div>
<hr>
<div th:insert="fragments/general.html :: services"></div>
<div th:insert="fragments/general.html :: testimonials"></div>
<div th:insert="fragments/general.html :: recent-news"></div>
<div th:insert="fragments/general.html :: partners"></div>
</div>
<div class="clear"></div>
<div th:insert="fragments/general.html :: footer"></div>
<th:block th:include="~{fragments/for-modal-foot}"></th:block>
</body>

</html>
