<link th:href="@{/assets/img/favicon.ico}" rel="shortcut icon" href="static/asset/favicon.png"/>
<link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css}"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800}"
      href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css}"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"
      type="text/css">
<link th:href="@{/css/style.css}" href="/static/css/style.css" rel="stylesheet" type="text/css">
<link th:href="@{/css/easy-responsive-tabs.css}" rel="stylesheet" type="text/css"
      href="/static/css/easy-responsive-tabs.css"/>
<link th:href="@{/css/flexslider.css}" rel="stylesheet" type="text/css" href="/static/css/flexslider.css"/>
<link th:href="@{/css/owl.carousel.css}" rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css">
<link th:href="@{/css/icons.css}" rel="stylesheet" type="text/css" href="/static/css/icons.css">
<!--[if lt IE 8]><!-->
<link th:href="@{/css/ie7/ie7.css}" rel="stylesheet" href="/static/css/ie7/ie7.css">
<!--<![endif]-->
<link th:href="@{/css/styles.css}" href="/static/css/styles.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
<script th:href="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"
        src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script th:href="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"
        src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="application/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>