<table class="table" id="policies-list-table">
    <thead>
    <tr id="policies-list-table-head">
        <th> Policy Id</th>
        <th> Submission Date</th>
        <th> Start Date</th>
        <th> End Date</th>
        <th> Car First Reg.</th>
        <th> Car Brand</th>
        <th> Car Model</th>
        <th> Offer Id</th>
        <th> Policy Premium</th>
        <th> Status</th>
        <th> Link to Details</th>
        <th> Policy Histories</th>
        <th> Link to Manage</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="policy : ${policies}">

        <td th:text="*{policy.getPolicyId()}"></td>
        <td th:text="*{policy.getSubmissionDate()}"></td>
        <td style="white-space:nowrap" th:text="*{policy.getStartDate()}"></td>
        <td style="white-space:nowrap" th:text="*{policy.getEndDate()}"></td>
        <td style="white-space:nowrap" th:text="*{policy.getCarFirstRegistration()}"></td>
        <td th:text="*{policy.getCarMake()}"></td>
        <td th:text="*{policy.getCarModel()}"></td>
        <td th:text="*{policy.getOfferId()}"></td>
        <td th:text="*{policy.getPolicyPremium()}"></td>
        <td th:text="*{policy.getStatus()}"></td>
        <td>
            <div>
                <button type="button" class="btn btn-primary">
                    <a th:href="@{/policy/__${policy.getPolicyId()}__}" style="color: white">Details</a>
                </button>
            </div>
        </td>
        <td>
            <!-- Button trigger -->
            <button type="button" class="btn btn-primary" data-toggle="modal"
                    th:data-target="'#exampleModalLong-' + ${policy.getPolicyId()}">
                History
            </button>

            <!-- Modal -->
            <div class="modal fade" th:id="'exampleModalLong-' + ${policy.getPolicyId()}" tabindex="-1"
                 role="dialog"
                 th:aria-labelledby="'exampleModalLongTitle-' + ${policy.getPolicyId()}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title"
                                th:id="'exampleModalLongTitle-' + ${policy.getPolicyId()}"
                                th:text="'Policy ' + ${policy.getPolicyId()} + ' created on '+${policy.getSubmissionDate()}"></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div th:if="${!policy.historyList.isEmpty()}">
                                <table>
                                    <thead>
                                    <tr id="policies-history-list-table-head">
                                        <th> Policy Id</th>
                                        <th> Actor</th>
                                        <th> Action</th>
                                        <th> History</th>
                                        <th> Timestamp</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="history : ${policy.getHistoryList()}">

                                        <td th:text="*{policy.getPolicyId()}"></td>
                                        <td th:text="*{history.getActor().getFullName()}"></td>
                                        <td th:text="*{history.getAction()}"></td>
                                        <td th:text="*{history.getHistory()}"></td>
                                        <td th:text="*{history.getTimestamp()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div th:if="${policy.historyList.isEmpty()}" class="resp-vtabs hor_1"> No
                                History
                                for this Policy
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </td>
        <td sec:authorize="hasRole('ROLE_AGENT')"><a
                th:href="@{/policy/manage/__${policy.getPolicyId()}__}">Manage</a>
        </td>
        <td sec:authorize="hasRole('ROLE_USER')"><a
                th:href="@{/users/manage/policy/__${policy.getPolicyId()}__}">Manage</a></td>
    </tr>
    </tbody>
</table>