<table class="table" id="policy-table" style="align-content: space-evenly">
    <thead>
    <tr>
        <th scope="col">Information:</th>
        <th scope="col">Value:</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>First Name:</td>
        <td th:text="${user.getFirstName()}"> Georgi</td>


    </tr>
    <tr>
        <td>Last Name:</td>
        <td th:text="${user.getLastName()}"></td>

    </tr>
    <tr>
        <td>Telephone:</td>
        <td th:text="${user.getTelephone()}"></td>

    </tr>
    <tr>
        <td>Address:</td>
        <td th:text="${user.getAddress()}"></td>

    </tr>

    <tr>
        <td>Driver had accidents in previous year?</td>
        <td th:text="${offer.hadAccidents() == true ? 'Yes' : 'No' }"></td>
    </tr>

    <tr>
        <td>Driver is Above 25 years old?</td>
        <td th:text="${offer.isAboveTwentyFive() == true ? 'Yes' : 'No' }"></td>
    </tr>

    <tr>
        <td>Car Brand:</td>
        <td th:text="${offer.getCar().getModelYearBrand().getBrand().getName()}">Aston Martin</td>

    </tr>

    <tr>
        <td>Car Model:</td>
        <td th:text="${offer.getCar().getModelYearBrand().getName()}"></td>

    </tr>

    <tr>
        <td>First Registration date:</td>
        <td th:text="${offer.getCar().getFirstRegistration()}"></td>

    </tr>

    <tr>
        <td>Policy premium total:</td>
        <td th:text="'$' + ${offer.getRoundedPremium()}"></td>

    </tr>


    </tbody>
</table>
    