<!-- Search input -->

<div class="input-group-prepend">
    <span class="input-group-text"></span>
</div>
<label>
    Search By Brand
    <input aria-describedby="basic-addon1" class="form-control" placeholder="" th:field="*{brand}"
           type="text">
</label>

<!--Policy Status Parameter-->

<div class="input-group-prepend">
    <label class="input-group-text" th:for="${searchPolicyDto.getSearchingAsRole()} +'-status-select'">Filter
        By Policy Status</label>
</div>
<select class="custom-select" th:id="${searchPolicyDto.getSearchingAsRole()} +'-status-select'"
        th:field="*{status}">
    <option selected value="">Any</option>
    <option value="approved">Approved</option>
    <option value="pending">Pending</option>
    <option value="rejected">Rejected</option>
    <option value="inactive">Inactive</option>
</select>

<!--Sort Parameter-->

<div class="input-group-prepend">
    <label class="input-group-text" th:for="${searchPolicyDto.getSearchingAsRole()} +'-sort-select'">Sort By
        ...</label>
</div>
<select class="custom-select" th:id="${searchPolicyDto.getSearchingAsRole()} +'-sort-select'"
        th:field="*{sortParam}">
    <option selected value="id">Any</option>
    <option value="submissionDate">Submission Date</option>
    <option value="startDate">Start Date</option>
    <option value="endDate">End Date</option>
    <option value="premium">Policy Premium</option>
    <option value="capacity">Car Capacity</option>
    <option value="firstRegistration">Car Registration Date</option>
    <option value="status">Status</option>
</select>

<!-- Sort Asc or Desc  -->

<label class="form-check-label"
       th:for="${searchPolicyDto.getSearchingAsRole()} +'-order-input'">Order</label>
<select class="form-check-input" th:id="${searchPolicyDto.getSearchingAsRole()} +'-order-input'"
        th:field="*{desc}">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
</select>

<!--Searching as-->
<input type="hidden" th:value="*{searchingAsRole}" th:field="*{searchingAsRole}" hidden>
<!-- Search button  -->

<div class="col-sm-2">
    <button class="btn btn-warning" type="submit">Search!</button>
</div>
