<!-- Modal -->
<div class="modal fade" th:id="'exampleModalLong-' + ${user.getUserId()}" tabindex="-1"
     role="dialog"
     th:aria-labelledby="'exampleModalLongTitle-' + ${user.getUserId()}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"
                    th:id="'exampleModalLongTitle-' + ${user.getUserId()}"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div th:if="${!user.historyList.isEmpty()}">
                    <table>
                        <thead>
                        <tr id="users-history-list-table-head">
                            <th> User Id</th>
                            <th> Actor</th>
                            <th> Action</th>
                            <th> History</th>
                            <th> Timestamp</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="history : ${user.getHistoryList()}">

                            <td th:text="*{user.getUserId()}"></td>
                            <td th:text="*{history.getActor().getFullName()}"></td>
                            <td th:text="*{history.getAction()}"></td>
                            <td th:text="*{history.getHistory()}"></td>
                            <td th:text="*{history.getTimestamp()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${user.historyList.isEmpty()}" class="resp-vtabs hor_1"> No
                    History
                    for this User
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
