<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Registration Confirmation - Safety Car</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
<div th:insert="fragments/general.html :: top-menu"></div>
    <div class="clear"></div>


        <!--First Section after Menu-->
        <div class="container-fluid">
            <div class="row" id="heading-row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="col-6"><h2>You have successfully registered!</h2><hr>
                        <h3>
                            <a th:href="@{/login}">-> Go to Login</a>
                        </h3>
                    </div>
            </div>
            <div class="col-3"></div>
            </div>
        </div>
       
<hr>
        <div th:insert="fragments/general.html :: services"></div>

        <div th:insert="fragments/general.html :: testimonials"></div>

        <div th:insert="fragments/general.html :: recent-news"></div>

        <div th:insert="fragments/general.html :: partners"></div>
    </div>
    <div class="clear"></div>
   <div th:insert="fragments/general.html :: footer"></div>
<th:block th:include="~{fragments/foot}"></th:block>
</body>

</html>
