<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Error page - Safety Car</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
<div th:insert="fragments/general.html :: top-menu"></div>
<div class="clear"></div>


<!--First Section after Menu-->
<div class="container-fluid">
    <div class="row" id="heading-row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>An error has occurred</h2>
            <hr>
            <h2 th:text="${message.equals('No message available') || message == null ? 'Bad Url' : message}">
                ?!?!!?!?</h2>
            <h2 th:text="${statusCode == null ? #request.getAttribute('javax.servlet.error.status_code') : statusCode}">
                ?!?!!?!?</h2>
            <h1 th:text="${codeTitle}">?!?!!?!?</h1>
            <hr>
        </div>
        <h6 th:text="${timeStamp}">?!?!!?!?</h6>
        <hr>
    </div>
    <div class="col-3"></div>
</div>
</div>

<hr>

<div th:insert="fragments/general.html :: recent-news"></div>

<div th:insert="fragments/general.html :: partners"></div>
</div>
<div class="clear"></div>
<div th:insert="fragments/general.html :: footer"></div>
<th:block th:include="~{fragments/foot}"></th:block>
</body>

</html>
